:root {
  --black: #000000ff;
  --charcoal: #2f4550ff;
  --paynes-gray: #586f7cff;
  --light-blue: #b8dbd9ff;
  --ghost-white: #f4f4f9ff;

  --primary: #2f4550ff;
  --primary-light: #4e6370ff;
  --primary-dark: #1a2933ff;
  --primary-contrast: #f4f4f9ff;
  --primary-muted: #87939aff;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}
