.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1.5rem 3rem; /* diminua o padding vertical e horizontal */
  background-color: var(--primary-dark);
}
.container h1 {
  font-size: 4rem; /* opcional: diminua o tamanho da fonte do título */
  font-weight: bolder;
  color: var(--primary-light); /* novo tom de roxo */
}
.containerImg img {
  height: auto;
  width: 100%;
  max-width: 20rem;
}

.cartInfo {
  border-radius: 3rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--primary);
}

.cartIconWrapper {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #ff7904;
  color: #fff;
  border-radius: 50%;
  padding: 0.2em 0.7em;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 1;
  min-width: 1.5em;
  text-align: center;
  box-shadow: 0 0 2px #0005;
}

.cartText {
  margin-left: 12px;
}

.cartTotal {
  font-size: 1.5rem;
}