.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;  /* separação entre ícone e texto */
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  color: #ffffff;
}
.icon {
  width: 48px;
  height: auto;
  object-fit: contain;
  margin-right: 1rem;
}